*{
    margin:0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#navbar{
    background-color: #0f1111;
height:60px;
color:white;
display: flex;
align-items: center;
justify-content: space-evenly;

}
.border{
    border:2px solid transparent;
}
.border:hover{
border:1.5px solid white;
}

 /* block 1 */

#nav-logo{
    height:50px;
    width: 113px;
}
#logo{
    background-image: url("./images/amazon_logo.png");
    background-size:cover ;
    height:50px;
    width:113px;
}

/* block 2*/

#nav-address{
    
    margin: 8px 2px 3px 7px;
}
.add-first{
font-size: 0.75rem;
color:#cccccc;
margin-left:15px;
text-decoration: none;
}
#address-icon{
    display: flex;
   cursor: pointer;}

.add-second{
    font-size:0.875em;
    margin-left: 4px;
    text-decoration: none;
    color: white;
}

/* block 3 */

#nav-search{
    display:flex;
    justify-content: space-evenly;
    background-color: #febd68;
    height:40px;
    width:650px;
    border-radius: 4px;
    margin: 10px 10px 10px 10px;
    
}
#nav-search select{
    background-color: #f3f3f3;
    color:#0F1111;
    width:50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-size: 0.875rem;
    text-align: center;
}
#nav-search input{
width:100%;
border:none;
font-size: 1rem;
padding-left: 7px;

}
#search{
   width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px ;
    font-size: 1.3rem;
color: #373939;
}
#search:hover{
    cursor: pointer;
}
#nav-search:hover{
    border: 3px solid #febd68;

}

/* block 4 & 5*/
#nav-same{
    width: 131px;
    height:50px;
}
.nav-same1{
    text-decoration: none;
    color:#ffffff;
    font-size: 0.80rem;
}
.nav-same2{
   font-size: 0.90rem;
   font-weight: bold;
   cursor: pointer;
}
/* block 6 */
#nav-cart{
    cursor:pointer;
}
#nav-cart i{
    font-size: 30px;
}
#nav-cart p{
   
    font-size: 0.85rem;
    font-weight: 700;

}
/* panel */
#panel{
    background-color :#222f3d;
    height:39px;
    display: flex;
    align-items: center;
   justify-content: space-evenly;
}
#panel1{
    color: white;
    width:58.42;
   display: flex;
cursor: pointer;

}
#panel1 p{
    padding-left:5px;
    font-size:0.9rem;
}

#panel2{
    color:white;
 width:70%;
    
}
#panel2 a{
display: inline;
text-decoration: none;
color:white;
padding:10px;
font-size: 0.89rem;
}
#panel3{
    font-size:0.9rem;
    font-weight: 700;
    color:white;
    cursor:pointer;

}
/* hero section */

#hero{
    background-image: url("./images/hero_image\ \(1\).jpg");
    background-size: cover;
    height: 500px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: flex-end; 

}
#hero-text{
background-color: white;
height:35px;
width:96%;
color: black;
font-size: 0.89rem;
display: flex;
align-items: center;
justify-content: center;
position: relative;
bottom:250px;
padding-left:8px;

}
#hero-text a{
    color: #007185;
font-weight: 700;
padding-left:5px;
text-decoration: none;
}
/* shop */
#shop{
    background-color: #e2e7e6;
    height:1750px;
}
#shop-section{
    display: flex;
    justify-content: space-evenly;
   
    flex-wrap: wrap;
}
.same-box{
background-color: white;
height:400px;
width:23%;
color: black;
position: relative;
top: -200px;
padding-top:20px;
margin-bottom: 20px;

}
.box-content{
    margin-left: 1rem;
    margin-right:1rem;
    cursor: pointer;
}
#box1-img{
    background-image: url("./images/box1_image.jpg");
background-size: cover;
height:300px;
margin-top:15px;
margin-bottom: 15px;

}
#box2-img
{
background-image: url("./images/box2_image.jpg");
background-size: cover;
height:300px;
margin-top:15px;
margin-bottom: 15px;

}
.box-content h2{
font-size: 1.3rem;
}
.box-content a{
    color: #007185;
    font-size: 0.9rem;
    text-decoration: none;

}
#box3-img{
    background-image: url("./images/box3_image.jpg");
    background-size: cover;
    height:300px;
    margin-top:15px;
    margin-bottom: 15px;
    
}
#box4-img{
    background-image: url("./images/box4_image.jpg");
    background-size: cover;
    height:300px;
    margin-top:15px;
    margin-bottom: 15px;
    
}
#box5-img{
    background-image: url("./images/box5_image.jpg");
    background-size: cover;
    height:300px;
    margin-top:15px;
    margin-bottom: 15px;
    
}
#box6-img{
    background-image: url("./images/box6_image.jpg");
    background-size: cover;
    height:300px;
    margin-top:15px;
    margin-bottom: 15px;
    
}
#box7-img{
    background-image: url("./images/box7_image.jpg");
    background-size: cover;
    height:300px;
    margin-top:15px;
    margin-bottom: 15px;
    
}
#box8-img{
    background-image: url("./images/box8_image\ \(1\).jpg");
    background-size: cover;
    height:300px;
    margin-top:15px;
    margin-bottom: 15px;
    
}
/* beauty section */
.sectionsame{
    background-color: white;
    height:281px;
    width:97%;
   position: relative;
   top: -190px;
left:15px;
right:15px;
cursor: pointer;

}

   



#beauty-images{
    display: flex;
    justify-content: space-evenly;



   
}

.bimages{
background-size: cover;

margin-left: 12px;
}
.sectionsame h2{
    font-size: 1.3rem;
   padding:20px 12px ;
   font-weight: 700;
}
/* books */
#books{
    margin-top: 20px;
}
#book-images{
display: flex;
justify-content: space-evenly;
}
.bkimg{
    width:133px;
    height:200px;
    background-size: cover;
}
/* shop3 */
#shop3{
    margin-top:25px;
    display: flex;
    justify-content: space-evenly;
  
}
.thirdbox-img{
    background-size: cover;
    height:300px;
    margin-top:15px;
    margin-bottom: 15px;
    
}

/* divider */


hr{
    border-top:0.01px solid rgb(221, 221, 221);
margin: 10px 18px ;
width:97%;


}
/* end */
#divider{
    margin-top:-150px
}
#upper{
    text-align: center;
    font-size: 0.9rem;
    color: #000000;
}
#signin{
height:28px;
width:100%;
display: flex;
justify-content: center;
margin-top:5px;
}
#signin button{
width:250px;
border:1px solid red;
border-radius: 3px;

background-color: #FFD467;

}
#lower{
    text-align: center;
    font-size: 0.75rem;
    margin-top: 10px;
}
#lower a{
    text-decoration: none;
    color:#007185;
}
/* footer */
#upperfooter{
    height: 40px;
    background-color: #485769;
    color:#f3f3f3;
    font-size: 0.9rem;
   display: flex;
  justify-content: center;
   align-items: center;
}
#upperfooter a{
    text-decoration: none;
    color: #f3f3f3;
}
/* main footer */
#mainfooter{

background-color: #222f3d;
height:500px;

}
#midfooter{
  display: flex;
  justify-content: space-evenly;
}

.midfooter-content a{
    display:grid;
    text-decoration: none;
    color: #DDDDDD;
    font-size:0.9rem ;
margin-top: 10px;
}
.midfooter-content a:hover{
    text-decoration: underline;

}
.midfooter-content h2{
    font-size: 1.1rem;
    color: #ffffff;
    margin-top:40px;
}
/* lower footer */

#lower-img {
    background-image: url("./images/amazon_logo.png");
    height: 68px;
    width:120px;
    background-size: cover;
   margin:auto;
  
}




#lower-footer{
    margin-top: 130px;
}
/* copyright */
#copyright{
    background-color: #131A22;
    height:50px;
    padding: 16px 0px 20px 0px;
}
.copyright-content1{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.copyright-content1 a{
text-decoration: none;
color: #f3f3f3;
font-size: 0.8rem;
padding: 8px;
}
.copyright-content1 a:hover{
    text-decoration: underline;
}
.copyright-content2{
    color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
font-size: 0.8rem;
}

